In [64]:
import json
import numpy as np
import pandas as pd

In [65]:
import plotly.express as px

In [66]:
campus_zones = json.load(open("iitb_map.geojson", "r"))

In [67]:
name_code_map = {}
for feature in campus_zones["features"]:
    feature["id"] = feature["properties"]["area_code"]
    name_code_map[feature["properties"]["name"]] = feature["id"]

In [68]:
df = pd.read_csv("campus_covid_data.csv")
df["id"] = df["name"].apply(lambda x: name_code_map[x])

In [69]:
#df.head()

   area_code             name  cases  id
0          1         gymkhana     80   1
1          2         hospital     12   2
2          3         hostel10      2   3
3          4  central library     20   4
4          5         hostel12     13   5

In [70]:
import chart_studio
username= 'divyank_iitb'
api_key= 'FMujtDDLttX4848mzQsv'

chart_studio.tools.set_credentials_file(username=username,api_key=api_key)

import chart_studio.plotly as py

import chart_studio.tools as tls

In [71]:
fig = px.choropleth_mapbox(
    df,
    locations="id",
    geojson=campus_zones,
    color="cases",
    hover_name="name",
    hover_data=["cases"],
    title="IIT BOMBAY CAMPUS COVID CASES",
    mapbox_style="open-street-map",
    center={"lat": 19.132, "lon": 72.9133},
    zoom=13.9,
    opacity=0.5,
    #color_continuous_scale=px.colors.diverging.BrBG,
    #color_continuous_midpoint=5,
)

In [73]:
py.plot(fig, filename= 'project_heat_map',auto_open=False)

'https://plotly.com/~divyank_iitb/3/'